.cuisine-container{
    background-color:#090909 ;
    display: flex;
    flex-direction: column;
    padding:30px;
    margin-bottom: 30px;
}
.cuisine-top-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}
.cuisine-top-left-container{
    display: flex;
    flex-direction: column;
    width:40%;
}
.cuisine-tiffin-box{
    width:40px;
    height:40px;
    margin-bottom: 20px;
}
.cuisine-top-left-heading{
    color:#787675;
    font-family:'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight:400;
    font-size: 18px;
    margin-bottom: 10px;
}
.order-now-button{
    background-color: transparent;
    border: 1px solid #9A9A9A;
    color: #9A9A9A;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    font-size: 12px;
    font-weight: 400;
    width: 100px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    margin-bottom: 10px;
}
@media screen and (min-width:540px){
    .cuisine-tiffin-box{
        width:60px;
        height: 60px;
        margin-bottom: 30px;
    }
    .cuisine-top-left-heading{
        font-size: 22px;
        margin-bottom: 20px;
    }
    .order-now-button{
        font-size: 14px;
    }
}

@media screen and (min-width:768px){
    .cuisine-tiffin-box{
        width:80px;
        height: 80px;
    }
    .cuisine-top-left-heading{
        font-size: 28px;
    }
}
@media screen and (min-width:853px){
    .cuisine-top-left-heading{
        font-size: 34px;
    }
}
.cuisine-top-right-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cuisine-top-right-image{
    max-width:160px;
    height: 200px;
    margin-right: 0px;
}

@media screen and (min-width: 540px) {
    .cuisine-top-right-image{
        max-width: 240px; 
        height: 280px; 
    } 
}
@media screen and (min-width:768px){
    .cuisine-top-right-image{
        max-width:340px;
        height: 300px;
    }
}
@media screen and (min-width:853px){
    .cuisine-top-right-image{
        max-width:400px;
        height: 300px;
    }
}
.cuisine-top-right-icons-container{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.instagram-icon{
    width:32px;
    height: 32px;
    margin-bottom: 6px;
}
.facebook-icon{
    width:32px;
    height: 32px;
    margin-bottom: 6px;
}
.twitter-icon{
    width:32px;
    height: 32px;
    margin-bottom: 6px;
}
@media screen and (min-width:540px){
    .instagram-icon{
        width:36px;
        height: 36px;
        margin-bottom: 10px;
    }
    .facebook-icon{
        width:36px;
        height: 36px;
        margin-bottom: 10px;
    }
    .twitter-icon{
        width:36px;
        height: 36px;
        margin-bottom: 10px;
    }    
}
.cuisine-bottom-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 0px;
    margin-right: 0px;
    width:100%;
}
.cuisine-bottom-image{
    width:48%;
    max-width:164px;
    height: 280px;
    margin-left: 0px;
}
@media screen and (min-width:540px){
    .cuisine-bottom-image{
        max-width: 260px;
    }
}
@media screen and (min-width:768px){
    .cuisine-bottom-image{
        max-width: 320px;
    }
}
@media screen and (min-width:853px){
    .cuisine-bottom-image{
        max-width: 480px;
        height: 480px;
    }
}
.cuisine-bottom-right-content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    width:48%;
    background-color: #FCB017;
    height: 280px;
}
@media screen and (min-width:768px){
    .cuisine-bottom-right-content-container{
        padding: 40px;
    }
}
@media screen and (min-width:853px){
    .cuisine-bottom-right-content-container{
        max-width: 480px;
        height: 480px;
    }
}
.cuisine-bottom-right-content-heading{
    color:#000000;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    font-size: 10px;
    font-weight: 500;
}
@media screen and (min-width:540px){
    .cuisine-bottom-right-content-heading{
        font-size: 14px;
    }   
}
.cuisine-bottom-right-content-para{
    color:#000000;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    font-size: 14px;
    font-weight: 300;
}
@media screen and (min-width:540px){
    .cuisine-bottom-right-content-para{
        font-size: 20px;
    }
}
@media screen and (min-width:768px){
    .cuisine-bottom-right-content-para{
        font-size: 24px;
    }
}
@media screen and (min-width:853px){
    .cuisine-bottom-right-content-para{
        font-size: 38px;
    }
}
.know-more-button{
    background-color: transparent;
    border: 1px solid #000000;
    color: #000000;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    font-size: 12px;
    font-weight: 400;
    width: 100px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    margin-bottom: 10px; 
}
@media screen and (min-width:768px){
    .know-more-button{
        font-size: 14px;
    }
}